* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    width: 100%;
    background-color: lightskyblue;
}

@keyframes textColor {
    to {
        color: green;
        font-size: 3rem;
        width: 100%;
    }
}
